<!DOCTYPE html>
{% extends 'genre/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genres - By Samuel Mwangi</title>
</head>
<body>
{%block content %}
        {% for genreobj in object_list %}
            <div align="center">
                <img src="{{ genreobj.collover }}" height="200">
                <h2><a href="/genre/{{ genreobj.id }}/">{{ genreobj.collection_name }}</a></h2>
            </div>
        {% endfor %}
{% endblock %}
</body>
</html>